<?xml version="1.0"?>

<robot name="laser" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--The laser xacro macro-->
  <macro name="laser" params="parent name color">
    <joint name="joint_${name}" type="fixed">
      <origin xyz="0.20674 0.00022708 0.181" rpy="-6.7054E-18 6.9389E-17 -1.5708" />
      <parent link="${parent}_link" />
      <child link="link_${name}" />
      <axis xyz="0 0 0" />
    </joint>
    
    <link name="link_${name}">
	  <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://xm_description/meshes/link_${name}.STL" />
        </geometry>
        <material name="${color}" />        
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://xm_description/meshes/link_${name}.stl" />
        </geometry>
      </collision>
    </link>
  </macro>
 
</robot>
